.subtitle::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: var(--white);
  vertical-align: middle;
  margin-left: 5px;
}

.subtitle {
  display: inline-block;
}

/* RESMUME */
.resume-grid {
  flex-grow: 1;
  padding-block: 40px;
}

.resume-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding: 10px;
}

.description-name-line {
  content: "";
  width: 90px;
  height: 5px;
  background-color: var(--yellow);
}

.resume-description-social {
  color: var(--gray-light);
  transition: transform 350ms;
}

.resume-description-social:hover {
  color: var(--white);
  transform: translateY(-3px);
  cursor: pointer;
}

.resume-description-social-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* ABOUT */
.about-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.card-item {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: 350px;
  gap: 10px;
}
